[2020-09-30 22:49] inkcomic opened #2 "Can not be used in Godot 3.2, Mix space and tab error occured."
It seems that Godot has removed mix space and tab support in 3.2 ???
https://github.com/godotengine/godot/issues/30937

[2020-10-01 02:02] viniciusgerevini commented on #2
Hello @inkcomic. I've been using it with Godot 3.2.2, and it's working fine. I've checked those files for mixed space/tab and I couldn't find any occurrence. Anyway, this issue seems to have been fixed on https://github.com/godotengine/godot/pull/32808

I'll tru to run it against 3.2.3, to check for any issues.

Can you give me some extra information about the issue you are facing? When do you see

[2020-10-01 15:59] inkcomic commented on #2
Hi,@viniciusgerevini:
I'm using Godot 3.2.3.stable.mono.official.
Maybe it only happen in 3.2.3?

[2020-10-02 05:57] viniciusgerevini commented on #2
Thanks for the info @cimpresovec @inkcomic .

Yeah, I wouldn't mind changing indentation, but I guess it woudn't really solve the problem, as the plugin shouldn't break regardless users indentation.

I noticed one thing. This issue only happens if tabs and spaces are mixed in the same file. I'm not able to make this issue happen only by installing the plugin, I need to change the file to break it.

[2020-10-02 06:01] viniciusgerevini commented on #2
@inkcomic . If you are blocked by that, for now you can open all plugin's *.gd files in the editor and convert the indentation to tabs, by clicking the menu `Edit -> Convert Indent to Tabs`.

I'm looking for a way to disable this check for the plugin files, so it stop bothering you.

[2020-10-02 06:39] cimpresovec commented on #2
I do have to confess one thing @viniciusgerevini. I installed the plugin from the Godot's internal AssetStore. I don't know which code is taken in that process. I didn't try by cloning the repository. The code that got pulled in that process contained mixed indentation in every .gd file so the Plugin broke immediately.

[2020-10-02 13:48] inkcomic commented on #2
Hi @viniciusgerevini , Thank you for the replay, I did what  you said, but seem 'Edit -> Convert Indent to Tabs` can't resolve the  situation mix tab and space :(.
I both tried down from assetlibrary from godot  and copy github repo maser version. both give me same mix space and space indent error...

[2020-10-03 02:25] viniciusgerevini commented on #2
@cimpresovec yeah, that's weird. The code from asset library should be the same from this repo. That sounds like some weird edge case. Anyway, I'm taking your advice and I'll release a version with all tabs. Even though it doesn't really prevent the issue from happening, it should make it rarer, as tabs indents are the default in Godot.

@inkcomic that's a pity. Godot only complains when the mixed

[2020-10-03 09:29] viniciusgerevini commented on #2
Hello. Version 1.0.1 is in the asset store, using tabs instead of spaces. It also includes better error message for when Aseprite command is misconfigured. Please, let me know if the error persists. :)

[2020-10-03 10:44] cimpresovec commented on #2
The update fixed the issue on my side. Thank you @viniciusgerevini

[2020-10-03 17:52] inkcomic commented on #2
Just installed from the assetlib, seems it work fine now :D
thank you very much for your plugin. @viniciusgerevini

[2020-10-05 03:07] #2 closed

[2020-10-14 22:38] Martin4422 opened #5 "Installing"
I am using Godot on Steam and i do not know how to install Aseprite Spritesheet Wizard ;-;

[2020-10-14 22:45] #5 closed

[2020-12-23 11:42] raulboo opened #9 "Could not import aseprite file: output location does not exist"
Hello! I'm trying to use this plugin, and when I manually import my .aseprite files through the SpriteSheet, it works fine by transforming them into resource files. But when the editor is trying to automatically import these .aseprite files, it shows following errors:

ERROR - Could not import aseprite file: output location does not exist
 editor/editor_file_system.cpp:1801 - Error importing 'res:

[2020-12-24 01:01] viniciusgerevini commented on #9
Hello @raulboo. Thanks for notifying me about this issue. I'll have to investigate further to try to identify the root cause.

In the mean time, I'm releasing a new version with the option to disable the importer.

[2020-12-31 06:19] #9 closed

[2021-01-05 21:05] castroclucas opened #13 "Imported .res is too big"
Hello! First of all, I'd like to thank you for developing this amazing tool!

I installed the plugin and everything works fine. I had no issues so far.
But when I went to check my resources folder, I saw that each ".res" files weights about 180 mb. It is weird, since my .aseprite file are all less than 160kb.

I tested this on the last Godot release on WIndows and Linux. It works the same.

Is thi

[2021-01-06 23:06] viniciusgerevini commented on #13
Hello @castroclucas. Thank you!

Wow, 180mb? It's definitely an issue. I don't know how I haven't noticed this before. I can see some of my files are also bigger than they should be. Good catch!

The first thing that comes to my head is how it creates new image resources for each frame: https://github.com/viniciusgerevini/godot-aseprite-wizard/blob/master/addons/AsepriteWizard/aseprite_cmd.gd#L312

[2021-01-07 00:19] viniciusgerevini commented on #13
A simpler fix could be using `imagetexture.load(...)` instead of `imagetexture.create_from_image()`. However, this one may not work, as the spritesheet is imported on the background. Worth it a try, though.

[2021-01-07 04:10] castroclucas commented on #13
Hello!

I changed the line from "texture.create_from_image(i,0)" to "texture.load(image)". Since the method 'load' requires a string, I used the image's path. I deleted all import folders and tried again. Nothing changed.

One thing that I noticed is that two different spritesheets will have a big difference in size, they are not proportional.

Example:
Spritesheet 1 with 90 frames -> 180mb
Sprite

[2021-01-07 08:47] viniciusgerevini commented on #13
Thanks! I really appreciate your help. I was also able to confirm that the image is causing the issue. I've run a few tests with an animation 48x64 with 38 frames. The .png file generated has 3.2kb. Here are the results:
![Screenshot from 2021-01-07 19-31-04](https://user-images.githubusercontent.com/4930052/103869809-efdc6800-511e-11eb-91f0-14c174314ba8.png)

- `normal.res` is the current import,

[2021-01-07 13:46] viniciusgerevini commented on #13
I've managed to use the resource imported by Godot. It won't work in the importer though, so I'll still use a fallback for that.
I have tested on Linux only. Tomorrow, I'll validate against Windows and MacOS. I also want validate with more diverse files before merging it.

The spritesheet I used for testing was the same as before, 48x64 with 38 frames.
Here are my latest results:
![Screenshot from

[2021-01-07 16:25] castroclucas commented on #13
Woah, incredible!

I wrote a  [comment](https://github.com/viniciusgerevini/godot-aseprite-wizard/pull/14#issuecomment-756220608) on your pull request showing my results. It had an imense drop on size (180mb -> 1.5mb).
Works really nice! I'll keep testing with other files and bringing more feedback.

Thank you!

[2021-01-08 07:21] viniciusgerevini commented on #13
I've already submitted version 1.2.2 to Godot's Asset Library. It usually takes a few days to land.
Thanks again for finding this issue and helping me to debug it. I had files going from 12mb to 3.5kb in my game.
:))

[2021-01-08 07:29] viniciusgerevini opened #15 "wizard screen size issues"
I've noticed this issue in the wizard screen on MacOS in an external monitor.
<img width="598" alt="Screen Shot 2021-01-08 at 11 49 00 am" src="https://user-images.githubusercontent.com/4930052/103986767-6b055300-51df-11eb-9b5e-45a5ea85552e.png">

I believe the way this layout is handling the modal size can be improved.

[2021-01-14 20:37] #13 closed

[2021-02-12 00:47] furroy opened #16 "spritesheets with alternate layouts"
so far the importer seems to work great IF you laid it out with animations the way this tool is expecting them.  i have some assets where someone made the layers be the anims, and i can't figure out how to import them and maintain my sanity.  if i use the "split  layers" they do come in, but then i have dozens of res files that need to be combined.  any ideas?  [example](https://i.gyazo.com/8a8667

[2021-02-12 23:10] viniciusgerevini commented on #16
Hello @furroy. Unfortunatelly the plugin does not support this organization and I don't have plans to support it, because it brings many limitations to what features you can use.

It forces each animation to have the same number of frames, same frame duration, you are not able to use animation direction (like reverse, ping-pong) and I don't think you'd able to group all layers as a same spriteshee

[2021-02-12 23:20] furroy commented on #16
i don't prefer it, i bought some assets someone else made and this is how they came. i'll probably just move all the frames around in aseprite, just thought i'd ask in case there was some less manually intensive way of dealing with it.

[2021-02-13 00:13] viniciusgerevini commented on #16
I see. Yeah, it makes sense. Good luck.

[2021-02-13 06:36] #16 closed

[2021-02-15 16:30] SirRamEsq opened #17 "Import without filtering"
Hi guys, thanks for the tool, really helps me out :)

I'm not sure how to import from Aseprite while disabling filtering. All of my sprites have that 'fuzzy' look to them now. I'm sure there's a way to do it, as your sample images seem to have filtering disabled and everything looks crisp.

Can you clue me in on where to look?
Actually, is there a way to set the import settings like you would on a

[2021-02-15 17:53] SirRamEsq commented on #17
Seem like in aseprite_cmd.gd :: _parse_texture_path image is generated with the method [create_from_image](https://docs.godotengine.org/en/3.2/classes/class_imagetexture.html?highlight=imagetexture#class-imagetexture-method-create-from-image) using the [default flags](https://docs.godotengine.org/en/3.2/classes/class_texture.html#enum-texture-flags) value of 7.
[code]

The default flag value inclu

[2021-02-16 11:14] viniciusgerevini commented on #17
Hello @SirRamEsq,

thanks for looking into this. You are in the right place.That flag should have been zero.

There are a few things to consider though:

First, how are you importing your Aseprite files? Do you use the Wizard Screen or the automatic importer? Given the issue you found I'd say you are probably using the automatic importer.

The Wizard screen uses Godot's default image importer. Bec

[2021-02-16 21:45] SirRamEsq commented on #17
Happy to help, thanks for getting back to me so quickly.

One thought though, do you think it would make sense to have a "flag" property for aseprite importer options?
It could just be a simple integer field and the end user could set it to import with whatever flags they want. Then, later on, the user's preference can be used in the *create_from_image* function.

The main use case I have in mind

[2021-02-17 14:46] viniciusgerevini commented on #17
I see. Unfortunately this wouldn't work with this plugin. Animations are imported as a spritesheet, having all frames in the same png file. If repeat is enable, for example, the result won't be the desired one as the current frame would leak to the next one.

At the moment, I can't think on any other scenario where changing this flag would be necessary.

[2021-02-17 17:43] SirRamEsq commented on #17
Ah, got it. In retrospect, that use case doesn't make a whole lot of sense :)
Setting flags to '0' makes sense
Thanks @viniciusgerevini :+1:

[2021-02-17 21:32] viniciusgerevini commented on #17
No worries. It was a good suggestion though. Thank :)

[2021-02-17 21:32] #17 closed

[2021-02-19 16:18] rrous opened #19 "Click on Configuration or Import does nothing"
**Click on Configuration or Import** does nothing. Just closes the Window.

Windows 10
Godot 3.2.3 stable
Aseprite v1.2.25 (1.x-dev), compiled

<img width="576" alt="AsepriteGodot" src="https://user-images.githubusercontent.com/2971042/108530925-6485f300-72d6-11eb-8140-25f67c4f7201.png">

[2021-02-19 18:48] rrous commented on #19
Problem was with Godot Engine, after fresh install - remove content of %APPDATA%/Godot - everything works fine.

[2021-02-19 18:48] #19 closed

[2021-04-18 02:29] SyliawDeV opened #20 "Option for don't create SpriteFrames Resource (.res) file"
### **Hi, Vini..**

First your plugin is great for me to manager spritesheet. I really like the option Split Layer to Multiple Resource. Currently I only want it to import the png(and .json) but not create extra SpriteFrames(.res). Because I use Animation PLayer with another Plugin that take the .json file of layer.

Second, yep I could just delete the .res file after import but could take time to

[2021-04-19 02:35] viniciusgerevini commented on #20
Hello @SyliawDeV,
I'm glad the plugin is useful for you. I believe this option fits well the wizard screen and it shouldn't take much to implement it.
I'll take a look and let you know. Thanks for the suggestion.

[2021-04-20 22:35] viniciusgerevini commented on #20
Hi @SyliawDeV . The feature was included in version 1.3.0. It's already on the main branch and the asset library.
Thanks :)

[2021-04-20 22:35] #20 closed

[2021-04-21 01:26] SyliawDeV commented on #20
Thanks @viniciusgerevini, version 1.3.0 work like charm and your work on plugin too.

[2021-04-21 07:35] viniciusgerevini commented on #20
Thanks @SyliawDeV , and thanks for contributing to the project :+1:

[2021-05-04 12:34] furroy opened #23 "Needs finer grained auto-import option"
I have many aseprite files in my project, but sometimes they need to be exported in a special way. So either I enable the auto-import option and it breaks those files, or I leave it disabled and inevitably forget to re-import some files.

It would be super useful if there was some mechanism by which you could tell it which files to auto import and/or which to skip.  Maybe by putting them in subfol

[2021-05-05 14:15] viniciusgerevini commented on #23
Hello @furroy . Thanks for the suggestion. In fact, you can already do something like this by using Godot's `.gdignore`.
From the docs:

https://docs.godotengine.org/en/stable/getting_started/workflow/project_setup/project_organization.html

With that you should be able to create a "skip import" folder that will never be imported.

[2021-05-08 13:51] jay11800 opened #24 "Imported an aesprite file, and completely corrupted my project"
when I imported a file with the aesprite wizard, it crashed godot, and then corrupted my project, removing all project settings I had set up, and even somehow all the godot editor settings i had as well. How can it mess up so badly >:(

[2021-05-09 10:35] viniciusgerevini commented on #24
I see. Sorry about your project. Can you give me some more information? Which Godot and Aseprite version are you using? Which operational system? Does it happen on every import?

[2021-05-10 00:07] jay11800 commented on #24
Godot 3.3 Stable, and for Aesprite I'm using 1.2.27, Windows 10, and it seems like it was just with that one import, when I selected reimport in the editor. I'm now just going to stick with Project > Tools > Asprite wizard as that seems to work just fine.

Thankfully it was just config files that got super corrupted, I was able to recover and backup all code and scenes

[2021-06-09 20:32] #24 closed

[2021-06-10 12:46] #23 closed

[2021-06-11 11:32] viniciusgerevini commented on #15
Fixed on version 1.4.0

[2021-06-11 11:32] #15 closed

[2021-06-13 19:53] benthillerkus opened #26 "Did not find aseprite executable"
Hi, we tried the version from the Godot Asset store and on the two Windows 10 machines we've tested, we go the error message that says, that it couldn't find the `aseprite` executable.
We were using
- `Godot 3.3.2 stable`
- `Aseprite v1.2.27-x64`
- `Aseprite Wizard 1.4.0`
We had both configured our PATH, so that Aseprite can be launched from any directory by typing in `aseprite` and double-checked

[2021-06-15 06:05] viniciusgerevini commented on #26
Hello @benthillerkus,
Thanks for reporting this. I did a quick search here and I saw mentions of `OS.execute` (the command I use in the plugin) not picking up commands from the path in Windows. I'll try to reproduce this issue here and see if there is any way to fix it. As a workaround, you can set the whole path in the plugin and it should work fine. Not ideal as you probably prefer to use the al

[2021-06-16 21:27] benthillerkus commented on #26
Ok, this is so odd, but I tried it again today, and it did work. I didn't change anything, and restarting computers was something we already tried on Sunday.

Either way, thanks for your response 🥇

[2021-06-16 21:27] #26 closed

[2021-06-17 03:48] viniciusgerevini commented on #26
Thanks @benthillerkus . It is good to know. :+1:

[2021-06-29 11:36] erayerdin opened #27 "Does not seem to work with Steam"
I have Godot and Aseprite installed with my Steam.

Installed the plugin, restarted it, it didn't work. So I thought "It's probably about the path issue.". So I actually added `aseprite` binary path to my `PATH` variable. It doesn't work again, saying:

<details>
<summary>In-Godot Logs</summary>

[code]
</details>

<details>
<summary>Environment</summary>

 - Ubuntu 20.04
 - Steam 162...086
 - God

[2021-07-01 07:04] viniciusgerevini commented on #27
Are you able to use `aseprite` from your terminal?

I haven't used Steam's Aseprite on linux, but I guess as long the path is right it should work. I'll have to install it to give it a try. Do you mind telling me what is the path to the binary you added to your PATH?

[2021-07-01 07:08] viniciusgerevini commented on #27
Also, you should be able to use the path to Aseprite's binary directly in the configuration screen. It may not be what you are looking for but it is a workaround so you can use the plugin in the meantime.

[2021-07-04 18:34] erayerdin commented on #27
Seems like rebooting the computer has done the trick. It's resolved in my case. Feel free to close.

[2021-07-06 08:33] viniciusgerevini commented on #27
Nice! Thanks for letting me know.

[2021-07-06 08:33] #27 closed

[2021-07-20 02:57] imsamuka opened #28 "Wrong Tooltip"
In the "Aseprite Wizard" window, the `Do not create resource file` checkbox, have the following tooltip: `Removes borders from sprites/layers before saving them.` which is the same as the checkbox above.

Also, in the same window, both `Configuration` and `Close` buttons are both uncapitalized.

I thought about doing a pull request solving both problems, but actually I don't know exactly the funct

[2021-07-20 07:05] viniciusgerevini commented on #28
Thanks @imsamuka . copypasta issue.

This option was a feature request. Some people use the plugin to get just the `.json` and `.png` files. In those cases they don't need the resource file to be created. The README has the right tooltip:

[2021-07-21 16:20] imsamuka commented on #28
Messing up with the plugins got me to use this feature in the end. I'm very glad that it exists hahah.

[2021-07-21 16:25] imsamuka opened #29 "Copyright Question"
Excuse me, but i'm just starting with open source contribution, so i'm not used to how Issues, Pull Requests and discussions should behave. I don't know if I should create a issue to discuss this with you, but i created one on the doubt.

I created a [fork](https://github.com/imsamuka/aseprite_importer) of another Godot plugin, and I copied over the [aseprite_cmd.gd](https://github.com/viniciusger

[2021-07-22 12:13] viniciusgerevini commented on #29
Hello @imsamuka . That's alright. You can open issues whenever you have question or doubts.

So, regarding LICENSE stuff. If you are copying the full file it is good practice to put the [LICENSE](https://github.com/viniciusgerevini/godot-aseprite-wizard/blob/master/LICENSE) notice from this repo as a comment in the beginning of the file. This could also be helpful in case people wants to look for

[2021-07-22 12:16] viniciusgerevini commented on #28
lol feel free to open the PR with the changes you suggested, otherwise I'll fix it over the weekend. Thanks.

[2021-07-22 15:52] imsamuka commented on #29
Thank you for the answer. I will put the LICENSE as a comment.

I started working on it before asking, so at this point it is already working very well. Regards to the file containing more than it needs to be, some of the features can be implemented as options in the future (for example **export_mode**, **exception_pattern**, **only_visible_layers**, **trim_images**) the same way I implemented the

[2021-07-22 15:52] #29 closed

[2021-07-24 23:42] imsamuka commented on #28
I did the PR and with another fix. I don't know how to link this issue to the PR and if it does something, so I will close the issue now, thanks!

[2021-07-24 23:42] #28 closed

[2021-08-15 15:44] dploeger opened #32 "Problem with large sprites: Image width cannot be greater than 16384."
When importing a sprite with larger dimensions (the attached one has 786x935 per frame), the import reports

`Image width cannot be greater than 16384.`

I guess, you're creating and exporting a sprite frame here and import it, but it gets too large.

[2021-08-15 15:45] dploeger commented on #32
Hm. Can neither attach the aseprite or the zip of it. If you need an example, give me a hint and I'd share it on my gdrive.

[2021-08-16 07:40] viniciusgerevini commented on #32
Hello @dploeger. Thanks for finding this issue. I guess you found a limitation with using spritesheets in Godot.

I did a quick search and I found this limitation in the [docs](https://docs.godotengine.org/en/stable/classes/class_image.html).

You are right. I'm using the `--spritesheet` option from Aseprite, and as the sum of your frames width reaches Godot limits, it mess everything up. To make

[2021-08-16 08:09] dploeger commented on #32
Thanks a lot. I'm using the automatic importer.

[2021-08-16 18:32] dploeger commented on #32
btw: I used multiple layers and tags to organize the file like this:

![image](https://user-images.githubusercontent.com/203453/129612271-0ba6f9c5-dce0-4dc9-835a-27c458328e2f.png)

I'd want the result to be in one SpriteFrames resource with the animations named like <tag>-<layer name> (e.g. right-idle).

Aseprite seems to allow exporting layers and tags into separate files when exporting a sprite

[2021-08-16 19:22] dploeger commented on #32
Maybe you could rewrite the export to use the `--save-as` command using templates like `--save-as sprite-{layer}-{tag}-{frame}.png`. This would circumvent exporting it to a sprite sheet with too big dimensions.

[2021-08-16 20:04] dploeger commented on #32
Although... that would result in a very large amount of files...

[2021-08-16 20:10] dploeger commented on #32
Using `--split-layers` with `--sheet` doesn't seem to work properly. See aseprite/aseprite#2889

[2021-08-16 22:10] viniciusgerevini commented on #32
Currently in this plugin you are able to split by layers (right.res, left.res, etc) but not by tags. I wonder what would be the benefit of having right-idle? (besides mitigating the problem). In this case you would have multiple SpriteFrames resources with only one animation.

Yeah, but I don't think there is any way around it. To support big files, multiple small files would have to be created. H

[2021-08-17 04:26] dploeger commented on #32
Like you see in the screenshot, one tag spans around multiple frames. So "right-idle" would include all frames of the "idle" tag that are on the "right" layer. The same way I created my animations manually now:

![image](https://user-images.githubusercontent.com/203453/129663457-4e679d05-501e-4972-908e-845b498d115e.png)

Thanks, but I tried changing that, but it didn't work, because even switching

[2021-10-15 17:09] Mickeon opened #33 "Proposal: Use character as a looping toggle in tag name for the Importer flow"
This addon is pretty professionally-written and seems more recently updated than its alternatives.

However, one drawback that I personally find major is the way it imports looped animations.
I'm aware that Aseprite has no concept of one-time animations, I won't blame the program for it.
However, the project I'm currently developing necessitates several of the sprite's animations to **not** to be

[2021-10-17 00:03] aaaaaaaaargh commented on #33
Hey, not sure if I understood correctly. You can enable/disable looping easily by flipping the toggle switch in the SpriteFrames editor. But I guess you already know that, so you need an automated way of dealing with this from within the importer on a per-animation basis, right?

[2021-10-17 04:05] viniciusgerevini commented on #33
Thanks @Mickeon . I had put some thought on that on the past, but I didn't follow it up. I believe an animation name convention for loop makes sense, and I wouldn't do it without a configuration option. I feel this should be a global configuration instead of per file config. I'll look into it.

[2021-10-18 20:45] DENYHAX opened #35 "Invalid get index 'pressed'"
Hello I just installed the plugin to try it out but when I click on the Import button in the wizard tabnothing happens and I get this error:
![image](https://user-images.githubusercontent.com/22339147/137803668-e4725efd-f734-40eb-889c-c842e5d604f9.png)

[2021-10-19 21:01] #35 closed, assigned to nobody

[2021-11-17 15:21] furroy commented on #33
This would be nice. I modified my local version and hard coded a list of anim names that should loop and set them accordingly on import.

[2021-11-17 15:25] furroy opened #37 "Doesn't work with Animation Player"
This plugin works great if you are using an AnimatedSprite, you can just drop the generated .res file right into it.  But if you have a normal Sprite and use an AnimationPlayer/AnimationTree, to control it, there's no way I could find to get the frame animations loaded into the player.

I don't expect this to be fixed, but there is a different Aseprite Importer that does do this in case anyone els

[2021-11-19 05:55] viniciusgerevini commented on #37
Thanks @furroy . That's correct. The scope of this plugin is AnimatedSprites only, and by including AnimationPlayer I would be just reimplementing something that already exists in the plugin you linked.

Some people do use aseprite-wizard in conjunction with this other plugin though. In fact, the option to not generate the resource was requested exactly for this use-case. You can use aseprite-wiza

[2021-11-20 06:36] viniciusgerevini commented on #33
Hey. Thanks for the feedback. I implemented two new configurations for this. Now you will be able to set the default looping configuration and which prefix to use to invert it. I'm still running some tests, but I intend to release it as a breaking change some time soon.

One thing to note is that as opposed to the plugin linked in this issue, the default behaviour for animations is to loop. I deci

[2021-11-21 00:35] #33 closed

[2021-11-21 23:21] Mickeon opened #39 "Inconsistent AtlasTexture displaying when Trim Mode is active(?)"
Hello again! Thank you so much for implementing my proposal and its configurations for every user to enjoy!

I was in the process of importing my work to utilise this plugin.
Now, the Trim Mode option is pretty useful for saving space. When enabled however, _and I don't know if this is intentional_, animations are offset unexpectedly. At least, not in the same way as they're shown in Aseprite.
For

[2021-11-22 07:07] viniciusgerevini commented on #39
Hello! The current behaviour is like that by design, but to be fair I didn't put much thought on the size aspect of it. The behaviour you are suggesting is more concerned with file size and not as much with removing padding from the animation. It could be a good internal improvement, though.

The current behaviour does trimming frame by frame. It becomes useful when you create your animations with

[2021-11-25 06:15] viniciusgerevini commented on #39
Hello @Mickeon . I ran some tests with trimming and I found out that there is no improvement on the resource file by using the proposed solution. In fact, it's even worse.

No big deal, because we are talking about bytes here, but it's worth to note.

Here are some examples. The green underlines are the source pngs. The red underline are the resource files.

![Trimming vs no trimming](https://user

[2021-11-25 20:02] Farnoway opened #40 "Sprite is black"
Hello!
I have been using aseprite wizard for a while now, but I have never seen anything like this.
When I run my game on Godot, the player looks great, as it should be:
![image](https://user-images.githubusercontent.com/95051206/143495001-0cdbe60b-8e51-410f-810d-6fbb8fc9b922.png)
But when I export the game, it looks like this:
![image](https://user-images.githubusercontent.com/95051206/143495171-

[2021-11-26 06:25] viniciusgerevini commented on #40
Hello @Farabry . I see you closed the issue. Did you find what was the problem?

[2021-11-26 11:37] Mickeon commented on #39
Maybe it could be combined with the Aseprite command `--sheet-pack` if the image is too wide, to make sure that the final image is as small as it can be for those scenarios? Although, that would cause inconsistent image sizes as frames are added or removed, which is barely a problem for SpriteFrames, but for the other exported resource types, it very much is.

A new export variable to control how

[2021-11-28 10:03] creadicted opened #41 "Solved: Issue getting it to work on windows when Path does not work"
Hello.
I added Aseprite to my local path. The normal installation and after this did not work, the steam version path.
I tested it with the folder and the path

[code]
What did the trick at the end was to place the **full path** to the `Aseprite Command Path`

![image](https://user-images.githubusercontent.com/1899013/143763517-b287524b-32d8-4e2c-a33e-37f00e797e5c.png)

I leave this here for other

[2021-12-07 11:26] TheOrioli commented on #37
I can only speak for my use case, but the key benefit is being able to sync other animations to the sprite animation easily. In my example, I'm triggering sound effects, particles and collisions.
Currently the AnimationPlayer animation track can control and play other AnimationPlayer's animations and show their duration, but it cannot do the same for an AnimatedSprite.

[2021-12-14 01:15] markman4897 commented on #40
@viniciusgerevini I got the same problem with one specific project. If I start a new project and add Aseprite Wizard it works fine, but while trying to port over files from the project with the problem to the new project I just can't seem to figure out when exactly this problem starts occurring.
I can describe this here or open another issue and add the project files too.

[2021-12-14 20:38] viniciusgerevini commented on #41
Thanks @creadicted . Someone notified some weirdness around windows path and Godot before #26 . Unfortunately, they also couldn't find the reason for that.

[2021-12-14 20:55] viniciusgerevini commented on #37
Thanks @TheOrioli . It makes sense. That's also the use case I know. I guess the only way to achieve a similar behavior would be using AnimatedSprite's signals, but that sure add complexity and it's not as straight forward.

I'll give AnimationPlayer a try in the coming weeks, but the structure is very different from SpriteFrames, so it might be the case it doesn't fit this plugin. I was with the

[2021-12-14 21:18] viniciusgerevini commented on #39
Yeah, I'm intending to add `--sheet-pack` in a upcoming release. I've been trying it and it works well.

About the other resource types, they were added with the importer as a nice-to-have, but as I haven't heard of anyone using that I don't give them the same importance as the main Spritesheet. In other words, I'd rather remove them (or changing their behaviour), than sacrificing features from th

[2021-12-15 11:43] TheOrioli commented on #37
I've made a plugin of my own now https://github.com/KikimoraGames/godot_animationplayer_spriteframes_helper specifically to help me out with adding SpriteFrames data to an AnimationPlayer.
It should be possible to use the existing SpriteFrames you generate and create animations that can be imported into an AnimationPlayer. The only limitation would be that the users would need to use an AnimatedSp

[2021-12-20 08:26] tavurth commented on #37
+1 for this, my purpose would be to use the `AnimationTree` which currently relies on having the animations setup individually in an `AnimationPlayer`.

[2021-12-20 18:33] tavurth commented on #40
Also ran into this just now, can we re-open this at least until we have a fix?

[code]

[2021-12-20 18:41] tavurth commented on #40
While exporting via command line I see the following errors:

[code]

[2021-12-20 19:00] tavurth commented on #40
Interestingly when I culled out the `addons` directory from my export the project is now working, but only when run from the command line. When I run the app directly (OSX) the sprite is still black.

[2021-12-20 19:09] tavurth commented on #40
Ok, what fixed it for me was choosing the following style export settings:

<img width="460" alt="Screenshot 2021-12-20 at 22 09 03" src="https://user-images.githubusercontent.com/100964/146819678-e969f08d-012d-4951-a033-bb55610af786.png">

Perhaps for some reason the `.res` file or the `.png` file are not getting required properly by the `AnimatedSprite`?

[2021-12-23 09:39] tavurth commented on #40
Can we open this issue again? @viniciusgerevini

[2021-12-23 17:37] tavurth opened #42 "Aseprite is required to run the app on a programmers machine"
When working with a friend I came across these errors while running the game. Aseprite is not installed on her machine.

[code]

Does this mean that Aseprite should be installed on all machines which intend to run this?

How does this work for exported games?

[2021-12-23 22:09] viniciusgerevini commented on #42
Hello @tavurth,

I'm assuming you are using the automatic importer.

For development, if you do not include the `.import` folder in your version control (or when copying to the new machine) you need to have Aseprite installed. Even if you are just running the game, because it will try to re-import all the files on startup.

For exported games, Aseprite is not required, as you will be dealing with

[2021-12-23 22:41] viniciusgerevini commented on #40
Hello @tavurth . Thanks for reaching out. As you are dealing with `.res` files I guess you are using the wizard screen to import your animations, right?

The wizard screen embeds the png as part of the resource, so the external png file shouldn't even be required for it to work.

I tried to simulate this issue a few times, but I couldn't make it (classic works on my machine). Would you be able to

[2021-12-24 15:02] tavurth commented on #42
Hi @viniciusgerevini, as far as the [Godot Docs](https://docs.godotengine.org/en/3.0/getting_started/workflow/assets/import_process.html#files-generated) state, adding this folder is optional, and it's always been something I've avoided adding.

So for best practices with this plugin a developer should include this folder? Perhaps we can add that to the docs?

[2021-12-24 15:04] tavurth commented on #40
@viniciusgerevini Yes sure I can provide my current sources for a Christmassy game I'm working on, I'll send them over to your email address rather than posting here directly.

[2021-12-25 17:43] tavurth commented on #42
Hi @viniciusgerevini

When importing on a second machine all of the imported sprites (from `*.aseprite`) are deleted automatically by Godot 3.4.2, as can be seen in this screenshot:

![telegram-cloud-photo-size-2-5350836846709555355-y](https://user-images.githubusercontent.com/100964/147390567-7ce35acd-9d82-452b-87bf-2b3d24b993c7.jpg)

So unfortunately committing the `.import` directory doesn't se

[2021-12-25 23:32] viniciusgerevini commented on #40
Thanks @tavurth . As I mentioned in the email, I've done a few tests and they all worked .
1 - Exported a MacOS build from a Linux machine (already setup).
2 - Exported a Linux build from a Linux machine (already setup).
3 - Exported a MacOS build from a MacOS machine. (had warnings on Godot startup due to Aseprite not being configured, worked in a next clean run)
4 - Exported using your script vi

[2021-12-25 23:33] viniciusgerevini commented on #42
Not really,

[2021-12-25 23:41] viniciusgerevini commented on #42
Not really. This is the same trade off mentioned in Godot's documentation. If you don't include the folder, it needs to be re-imported in the new machine. As the plugin requires Aseprite, it's natural it will fail in case it's not present.

This is weird. I haven't seen any changelog mentioning this. Let me try here.

[2021-12-26 00:05] viniciusgerevini commented on #41
I added this as a note to the path section in the README.md. Thanks.

[2021-12-26 00:05] #41 closed

[2021-12-26 00:19] viniciusgerevini commented on #42
@tavurth Are you sure Godot is the one removing these files? I tested this by moving to different machines (linux, windows, macos) and it did not delete the files. I did see some changes related to file permission, but those didn't trigger a re-import.

Anyway, going back to the re-import issue. Unfortunately, by using the automatic importer Aseprite is added as a dependency to the devloop. Commit

[2021-12-26 02:16] markman4897 commented on #40
@viniciusgerevini since I couldn't wait for the fix this long and I didn't have time to rewrite the project I used another Aseprite importer in the project. However, I saved two projects in their broken state just in case someone would want to take a look at them. Want me to send the files to you over email?

[2021-12-26 02:55] viniciusgerevini commented on #40
@markman4897 Sure. Thanks!

[2021-12-26 04:39] markman4897 commented on #40
@viniciusgerevini I'm working on Linux (Pop!_OS 21.04 64bit) while the version of Godot was mixed, it was an old project that I started with Godot 3.2.x I think and then I always used the latest version, same thing with Aseprite.
I was testing exports to Linux and HTML5 platforms.

The funny thing was that in editor everything looked just fine. The project I was working on was about a year old and

[2021-12-27 21:29] Farabry commented on #40
Ohhhh, sorry I didn't saw this earlier. Gonna explain what I did to fix this:

-I was moving the folder where the _.res_ and _.png_ files were to another location, so it was no more the _Output folder_ location. Just make sure that you put the folder or files at the correct path in your res://. Im pretty sure that will make it.

If you have a question regarding this, im gonna be here.

[2022-01-12 21:55] zxtion commented on #32
I ran into this same issue with my Aseprite file. For various reasons, I can't use the trim functionality to reduce the image width, so I modified the code inside my project to fit for my use case. My use case involves exporting each layer AND tag individually, but this can be generalized for the case where you don't split up layers too.

I added an option to export each tag individually. This cre

[2022-01-14 06:24] #42 closed

[2022-01-14 06:43] viniciusgerevini commented on #40
Thanks all. Unfortunately all my VMs and machines seem to not cause the issue. I noticed that the importer does not include the image in the list of generated resources and that could potentially cause some issues, but I can't be sure that is what's causing this one. I'll include that fix a future version.

I'll leave this issue open. If any one comes across this issue again I would ask you to sen

[2022-01-18 12:21] viniciusgerevini commented on #37
Heyo! I implemented this as a new feature in #44 . Feel free to pick the code from the branch `animation_player_support` to test it yourselves if you wish.

[2022-01-18 12:25] #39 closed

[2022-01-18 12:33] viniciusgerevini commented on #32
Thanks @zxtion . That will certainly going to conflict with the major refactoring I've been working on. I feel I understand the solution, but I can't really visualise it. Feel free to send it if you feel like it.

I had put some thought on this issue. I guess the best approach is to have an option like "Big file mode" or "Big file support", which would export each frame as a separate png. That wou

[2022-01-27 12:15] viniciusgerevini commented on #37
Alright! This feature is available now in Godot's asset library on Aseprite Wizard version 4.0.0. Thanks for your suggestions and contributions.

[2022-01-27 12:15] #37 closed

[2022-02-28 09:02] terijaki commented on #40
![Screenshot 2022-02-28 at 09 57 58](https://user-images.githubusercontent.com/590522/155953883-fb1aa14d-1fbc-44be-be06-0510c261abd1.png)
I had the same issue described here. Unchecking "**remove source files**" in the config solved it for me!

My issue:
- In the editor everything was fine
- Exporting the project results in black boxes

Note, when I delete the ".import" folder of my project, the a

[2022-03-01 10:14] viniciusgerevini commented on #40
Thanks @terijaki . I noticed this issue last week with files imported via the docks. I realised the SpriteFrames is actually using the .stex file from the import forlder, so we do need to keep the png file at least. I'll be releasing a fix where only the json will be removed.

This should impact only resources imported manually. I believe the issue with the automatic importer is slightly different

[2022-03-01 10:36] terijaki commented on #40
I am using the manual import.

Glad you found the source of the problem! 💪🏻

[2022-03-05 19:23] Justiniscoding opened #50 "Weird Editor Description"
I don't think this is a bug, but whenever I import an aseprite file in godot it gives my sprite a node description. An example one I got after importing a file is:
[code]
Is there a reason this happens? If not, how could I prevent this?

[2022-03-09 07:56] viniciusgerevini commented on #50
Hello @Justiniscoding . This is explained in the [FAQ](https://github.com/viniciusgerevini/godot-aseprite-wizard#what-is-the-gibberish-in-the-nodes-editor-description) section in the README.

This is where the plugin stores data for future imports. You can delete it afterwards, but you would have to re-fill all the fields when re-importing. The readme explains the reasoning behind it. Unfortunatel

[2022-03-09 14:24] Justiniscoding commented on #50
Oh, I never read the FAQ. I'll close this for now

[2022-03-09 14:24] #50 closed

[2022-05-29 08:22] Remixful opened #53 "Sprite3D"
Is it possible to get this to work with Sprite3D?

[2022-05-30 08:56] viniciusgerevini commented on #53
It seems possible. I'll try it tomorrow and release it if it works. The flow should be the same as using an AnimationPlayer with a Sprite2D. Thanks for the suggestion

[2022-06-05 08:01] viniciusgerevini commented on #53
@Remixful just an update. I've tried re-using the code for `Sprite3D`, but even though the import succeeds, the console get stuck with an error message and it's not clear to me why.
[code]
I'll look into this issue as soon I get the time to do so. Once this is solved, it should also be simple enough to implement for `AnimatedSprite3D` as well.

[2022-06-27 20:06] hutomosaleh opened #54 "How to use aseprite wizard plugin via script?"
Is it possible to use the plugin via script? I'd like to i.e. dynamically load .aseprite file and import it to my node

[2022-07-04 04:31] viniciusgerevini commented on #54
Hello @hutomosaleh . This is not possible with this plugin as is. This would require Aseprite to be present in the machine the game/application is being executed or have it embedded in the app, which doesn't seem like a good idea.

Also, the plugin relies on the `EditorFileSystem` to trigger scan and import the resources properly. However, this could be worked around.

[2022-07-04 05:01] #54 closed

[2022-07-19 11:20] TheOrioli opened #56 "Config file lives outside version control"
The config file is currently stored in the `user://` folder, which means that it cannot be version controlled. This becomes an issue when using the AsepriteWizard in cloud builds in case of any setting changes that need to be persisted.

For example, if the game requires the Aseprite Importer, the exported build will fail "successfully" because it simply will not perform an import of the `.aseprit

[2022-07-20 11:57] viniciusgerevini commented on #56
That's a good point. Yeah, this config started with the Aseprite Command Path only, that's why it's outside the Project Settings. At first, I was considering all these configs as global, but now thinking again you are right, they are actually project specific.

I think we should be able to move all configs, but the Aseprite Command Path, to the Project Settings. The Command Path will become kind o

[2022-07-24 16:21] cpodgell opened #57 "It stopped working all of a sudden"
I have used this in the past and it worked perfectly fine.  However, recently, in all my projects it doesn't do anything when I click import.

I'm not sure if it's becuase of an update to asesprite?  But nothing has changed (to my knowledge).

I can load animation player fine, I can load the .ase sprite fine, but the layers drop down does not represent what I see in asesprite.
When I click Import

[2022-07-24 20:52] #57 closed

[2022-07-24 20:52] cpodgell commented on #57
I realized it was an aseprite issue

[2022-07-24 20:53] cpodgell commented on #57
closed

[2022-07-27 01:00] viniciusgerevini commented on #57
Thanks @cpodgell . I'll check if there is any improvement to be done on the feedback given by the plugin in case the aseprite command misbehaves

[2022-07-29 07:05] viniciusgerevini commented on #56
I'm working on this one now. I just realised I can keep the Aseprite Command Path in the `EditorSettings`. I might not even need a config dialog anymore. The only downside is that I would lose the test button, but I'm checking what can be done.

[2022-07-29 07:08] viniciusgerevini commented on #56
I started working on this one and I just realised what you meant by EditorSettings. I can keep the Aseprite Command Path there and I wouldn't need a config dialog anymore. The only downside is that I would lose the test button, but I'm checking what can be done about it.

[2022-08-06 10:24] dfkeenan opened #59 "Invalid character in file names when selecting a layer."
Hi,

When retrieving the layer names from an aseprite file the names end up having a carriage return character `\r` on the end. This is not valid in file names. Well it is erroring for me at least. I am not sure if it is because I am on Windows, I am using the Aseprite 1.3 beta, or some other issue. Changing the below line to remove the character solved the issue for me.

https://github.com/vinici

[2022-08-06 21:40] garryheart opened #60 "Aseprite command path invalid"
command path is right then also it's showing command not found. my aesprite version is v1.2.39. is the addon not compatible with this version of aseprite.

![image](https://user-images.githubusercontent.com/110745210/183266840-be8776a3-4f9b-455d-a322-82df22a1c782.png)

![image](https://user-images.githubusercontent.com/110745210/183266875-c39d2c3a-944c-4667-a599-b15ac8edf333.png)

[2022-08-07 01:42] viniciusgerevini commented on #60
Your two screenshots show different paths. The bottom one has an extra `Program Files (x86)` on it. That's likely the missing part.

[2022-08-07 01:45] viniciusgerevini commented on #59
Thanks @dfkeenan. I'm glad you found a solution for now. I'll take a look on it. Can you give me an example of layer name you used in case I can´t reproduce the issue?

[2022-08-07 01:59] dfkeenan commented on #59
I have a `Player.aseprite` file it has 2 layers. `Player` and `Background`. I was trying to select the one called `Player` and import it to Sprite/AnimationPlayer. I have attached the file if you want to try that.

[Player.zip](https://github.com/viniciusgerevini/godot-aseprite-wizard/files/9276017/Player.zip)

[2022-08-07 02:31] dfkeenan opened #61 "Store config in metadata instead of editor_description property"
Hi,

One of the few things I dislike about this great plugin is that it is currently storing config as a base64 encoded string in the `editor_description` property. There is a better option. you can store the config dictionary in the object metadata using methods `set_meta`, `get_meta`, `has_meta`. i.e.

[code]

and

[code]

There was only a few minor things I had to change. Seems to work quite we

[2022-08-07 11:40] garryheart commented on #60
Thank you very much it's working now.☺️ I was really confused. Thanks a lot.

[2022-08-07 12:05] #60 closed

[2022-08-07 12:12] viniciusgerevini commented on #61
Oh, that's really nice. I wasn't aware of the meta methods.

For the most part I prefer to leave anything related to this plugin out of the user's production code, however, the editor_description approach is pretty ugly and shady as hell. I think this is a good approach. Just confirm the meta is indeed persisted with the scene when reloading it.

Yeah, give a stab at raising the PR. It's a great c

[2022-08-07 12:12] viniciusgerevini commented on #59
Thank you. That's useful.

[2022-08-10 09:51] #56 closed

[2022-08-13 09:13] dfkeenan commented on #61
I have been doing some investigations today. The metadata is saved in the scene.

Fragment from the `Player.tscn` file:

[code]

In fact in version 3.X the `editor_description` is stored in the meta dictionary with a key of `_editor_description_`. (This is being changed in 4.0)

This data is still present when you export the game. I don't know that there is anyway to make it so it doesn't. I haven

[2022-08-13 16:11] dfkeenan commented on #61
After a whole lot of messing about I implemented a `EditorExportPlugin` that strips out this metadata. No idea if what I have done is "correct", though. 😅

[code]

[2022-08-25 03:51] viniciusgerevini commented on #61
@dfkeenan That's great. Sorry, I missed these notifications. I don´t think you need to bother with the EditorExportPlugin though. The size of the metadata is negligible.

I do think it would be nice to have a config for it, though, in case people want to keep the previous behaviour (for any reason), or maybe as a first step to move to meta.

It's looking good so far.

[2022-09-14 10:45] #53 closed

[2022-10-29 16:47] glennDittmann opened #66 ""Command not found." on Pop!_OS 22.04"
Hey,
first thanks for the great tool !
I have a problem, as I get the error message above, when testing the command path with the Aseprite Wizard Config.

I can start Aseprite from my terminal with either `aseprite` or `/usr/bin/aseprite`.
And I have tried both versions for the command path in godot... without success though.

Do you have any ideas what could be wrong? (As described in your nice R

[2022-10-30 20:10] dannygaray60 opened #67 "The plugin adds some unwanted Sprite tracks"
Thank you so much for this amazing plugin! However, I see a curious error... When importing the aseprite file, in the animationplayer, the plugin adds tracks from other sprites (which are in the same parent as the animation sprite) and it is set with visible = false

This becomes a problem because it hides the sprites of other objects (such as weapons) that have no relation to the aseprite file.

[2022-11-06 00:02] viniciusgerevini commented on #67
Hello @dannygaray60, thanks for reporting this. I have to look into it, but this looks like a deliberate decision introduced in #64 .

I believe the idea was that when linking multiple aseprite files from different sprites in the same animation player, the ones not related to the animation being played would be hidden, allowing splitting animations across multiple files.

This clearly conflicts wi

[2022-11-06 00:20] viniciusgerevini commented on #66
Hey @glennDittmann . Thank you.

If the problem was only with the `aseprite` command I'd ask you if you were running godot from a different user (like root). However, as you tried the full path it kind of rules out environment PATH issues.

Another thing that comes to my mind is how Godot was installed? Are you by any chance using an appimage? I'm not too familiar with them but I've heard about ap

[2022-11-07 09:42] TheOrioli commented on #67
The big headache here is how to determine "sprites not linked to any aseprite file" in a user friendly, non-confusing way.

Perhaps the correct solution to the problem is to not iterate over all the Sprite nodes in the scene, but instead to iterate over all sprite nodes with animation in the current AnimationPlayer. This would mean the behavior of creating the "visible" track for a node is emergen

[2022-11-07 09:44] TheOrioli commented on #67
@dannygaray60 for a quick fix in the meantime, you could edit the source code of the plugin in your project. These lines https://github.com/viniciusgerevini/godot-aseprite-wizard/blob/master/addons/AsepriteWizard/animation_player/animation_creator.gd#L234-L243 are responsible for creating the visible track, you could either delete them, or set the value for the visible track to true, or whatever e

[2022-11-07 12:26] dannygaray60 commented on #67
@TheOrioli thanks for the answer!